.headerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem 0;
  background-color: var(--gray-800);
  height: 6.25rem;
}

.sindbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 256px;
  min-height: 294px;
  background-color: #202024;
  border-radius: 8px;
}

.contentProfile {
  border-bottom: 1px solid #323238;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/background-profile.png');
  background-repeat: no-repeat;
  border-radius: 8px;
  background-size: contain;
}

.contentImage {
  border: 5px solid #C4C4C4;
  border-radius: 5px;
  margin-top: 40px;
}

.contentBorder {
  border: 5px solid #00B37E;
  border-radius: 5px;
}

.contentTitle {
  font-size: 1rem;
  color: #E1E1E6;
  text-align: center;
  margin-top: 1rem;
}

.contentSubTitle {
  font-size: 14px;
  color: #8D8D99;
  text-align: center;
  margin-bottom: 24px;
}

.contentButton {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  flex: 1;
  width: 100%;
}

.button {
  width: 192px;
  height: 50px;
  background-color: transparent;
  border-radius: 1rem;
  border: 1px solid #00B37E;
  color: #00B37E;
  cursor: pointer;
}