.avatar {
  box-sizing: inherit;
  margin-bottom: 1rem;
  z-index: 3;
  border-radius: 8px;
  width: calc(3rem + 12px);
  height: calc(3rem + 12px);
}

.isBorder {
  border: 4px solid var(--gray-800);
  outline: 2px solid var(--green-500);
}